@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    outline: none !important;
  }

  html,
  body {
    overscroll-behavior-x: none;
  }

  html {
    font-family: "Noto Sans", sans-serif;
    font-size: 11px;
  }

  @media (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }
}
